<div class="general-text-box">
    <h2>Edit listing</h2>
</div>

<div class="form-text-box">
  <%= form_for [current_user, @listing] do |form| %>
    <%= render partial: 'listings/form', object: form %>
  <% end %>
</div>
<div>
  <%= link_to 'Delete this listing', user_listing_path(current_user, params[:id]), method: :delete, class: "btn btn-default btn-md" %>
</div>
