<% @listings.each do |x| %>
  <%= x.city %>
  <%= x.address %>
  <%= link_to 'Edit this listing', edit_user_listing_path(current_user, x) %>
  <div data-no-turbolink>

    <%= link_to 'Delete this listing', user_listing_path(current_user, x), method: :delete %>
  <br />
</div>

<% end %>
