<h1 class="general-text-box">Your Lisitings</h1>

<div class="general-text-box">

  <% @listings.each do |x| %>
    <hr>
    <%= x.name %>
    <%= x.description %>
    <%= link_to 'Edit this listing', edit_listing_path(x) %>
    <br />
  <% end %>

</div>
