<h2 class="general-text-box">New listing</h2>

<div class="form-text-box">

  <%= form_for Listing.new do |f| %>
    <%= render partial: 'listings/form', object: f %>
    <div>
      <%= f.submit 'Create Listing', class: "btn btn-default btn-md" %>
    </div>
  <% end %>

</div>
