<h2 class="general-text-box">New listing</h2>

<div class="form-text-box">

  <%= form_for [current_user, Listing.new] do |f| %>
    <%= render partial: 'listings/form', object: f %>
  <% end %>

</div>
