<h1>Public Lisitings</h1>

<div class="general-text-box">

  <% @listings.each do |x| %>
    <hr>
    <%= link_to x.name, listing_path(x.id) %>
    <%= x.description %>
    <% if signed_in? && current_user.id == x.user_id %>
      <%= link_to 'Edit this listing', edit_listing_path(x.id) %>
    <% end %>
    <br />
  <% end %>

</div>
