<h1>This is one listing</h1>
<div>
  <%= @listing.name %><br>
  <%= @listing.description %><br>
  <% if signed_in? && current_user.id == @listing.user_id %>
    <%= link_to 'Edit this listing', edit_user_listing_path(current_user, @listing) %>
  <% end %>
</div>
