<div class="input-daterange input-group" data-provide="datepicker" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>

<script type="text/javascript">
  $('.input-daterange').datepicker({
      startDate: "today"
  });
</script>
