<div class="jumbotron">
  <div class="container text-center">
    <h1>BBnB</h1>
    <h3>Accommodations for all your business needs.</h3>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="col-sm-0 col-md-3">
</div>

<div class="col-sm-12 col-md-3 index-text-box">
  <h3>About Us</h3>
  <p>
  Anderton sighed. At that point he wasn’t certain, himself. Perhaps he was trapped in a closed, meaningless time-circle with no motive and no beginning. In fact, he was almost ready to concede that he was the victim of a weary, neurotic fantasy, spawned by growing insecurity. Without a fight, he was willing to give himself up. A vast weight of exhaustion lay upon him. He was struggling against the impossible—and all the cards were stacked against him. The sharp squeal of tires roused him. Frantically, the driver struggled to control the car, tugging at the wheel and slamming on the brakes, as a massive bread truck loomed up from the fog and ran directly across the lane ahead. Had he gunned the motor instead he might have saved himself. But too late he realized his error. The car skidded, lurched, hesitated for a brief instant, and then smashed head on into the bread truck.
  </p>
</div>

<div class="col-sm-12 col-md-3 index-text-box">
  <h3>Why use us?</h3>
  <p>
  In the gloomy half-darkness the three idiots sat babbling. Every incoherent utterance, every random syllable, was analyzed, compared, reassembled in the form of visual symbols, transcribed on conventional punchcards, and ejected into various coded slots. All day long the idiots babbled, imprisoned in their special high-backed chairs, held in one rigid position by metal bands, and bundles of wiring, clamps. Their physical needs were taken care of automatically. They had no spiritual needs. Vegetable-like, they muttered and dozed and existed. Their minds were dull, confused, lost in shadows.
  </p>
</div>

<div class="col-sm-0 col-md-3">
</div>
