// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-text-box {
  background: rgba(128, 0, 42, 0.7);
  color: white;
}

.jumbotron {
   background: rgb(144, 35, 35); /* This is for ie8 and below */
   background: rgba(144, 35, 35, 0.8);
   color: white;
}

.bbnb-brand {
    font-size: 50px;
    font-family: 'Prosto One', cursive;
    color: white;
}
